.navbar-toggler[b-zkphlb55ml] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-zkphlb55ml] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-zkphlb55ml] {
    font-size: 1.1rem;
}

.oi[b-zkphlb55ml] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-zkphlb55ml] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-zkphlb55ml] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-zkphlb55ml] {
        padding-bottom: 1rem;
    }

    .nav-item a[b-zkphlb55ml] {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active[b-zkphlb55ml] {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover[b-zkphlb55ml] {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

@media (min-width: 641px) {
    .navbar-toggler[b-zkphlb55ml] {
        display: none;
    }

    .collapse[b-zkphlb55ml] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nav-scrollable[b-zkphlb55ml] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
