@inherits LayoutComponentBase
<div class="error-main">
    @Body
</div>

<style>
    html, body {
        overflow-y: auto;
        background-color: lightblue;
    }
    .error-main {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        font-weight: 800;
        box-sizing: border-box;
        font-family: cursive;
    }
</style>