body {
    background-color: black;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    font-weight: 800;
    box-sizing: border-box;
    font-family: cursive;
}

svg {
    font: 10.5em 'Monoton';
    width: 100%;
    height: 70%;
    margin-top: 0;
    margin-bottom: 0;
}

.content {
    text-align: center;
}

h1 {
    text-align: center;
    font: 1.5em 'Roboto', sans-serif;
    font-weight: bold;
    color: blue;
    opacity: .6;
}

a {
    display: inline-block;
    text-transform: uppercase;
    font: 1em 'Roboto', sans-serif;
    font-weight: 300;
    border: 1px solid #2f8f7f;
    border-radius: 10px;
    color: white;
    margin: 15px 0;
    padding: 13px 14px;
    text-decoration: none;
    opacity: .6;
    background-color: black;
    width: 185px;
    height: 49px;
}

.text {
    fill: none;
    stroke-dasharray: 8% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 1%;
    animation: stroke-offset 5.5s infinite linear;
}

    .text:nth-child(1) {
        stroke: #1c234d;
        animation-delay: 1.2s;
    }

    .text:nth-child(2) {
        stroke: #315b2c;
        animation-delay: -2s;
    }

    .text:nth-child(3) {
        stroke: #2f8f7f;
        animation-delay: -3s;
    }

    .text:nth-child(4) {
        stroke: #2f8f7f;
        animation-delay: -4s;
    }

    .text:nth-child(5) {
        stroke: #da2717;
        animation-delay: -5s;
    }

@keyframes stroke-offset {
    100% {
        stroke-dashoffset: -35%;
    }
}
